<div class="">
<mat-toolbar>
  <span>Agregar / Modificar</span>
</mat-toolbar>
<mat-card>
   <mat-card-content>
	  <form [formGroup]="appoinmentForm" (ngSubmit)="add()" class="pets-form">	
 		<mat-form-field class="full-width">
	      <input matInput [matDatepicker]="picker1" placeholder="Seleccione Fecha" formControlName="fecha">
		  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
		  <mat-datepicker #picker1></mat-datepicker>
	    </mat-form-field>
	    <mat-form-field class="full-width">
			<mat-select placeholder="Selecione Hora" formControlName="hora">
			  <mat-option value="09:00">09:00</mat-option>
			  <mat-option value="09:00">09:30</mat-option>
			  <mat-option value="10:00">10:00</mat-option>
			  <mat-option value="10:00">10:30</mat-option>
			  <mat-option value="11:00">11:00</mat-option>
			  <mat-option value="11:00">11:30</mat-option>
			  <mat-option value="12:00">12:00</mat-option>
			  <mat-option value="12:00">12:30</mat-option>
			</mat-select>
			<mat-error *ngIf="appoinmentForm.get('hora').dirty">Requerido</mat-error>
		</mat-form-field>  
	    <mat-form-field class="full-width">
	      <input matInput placeholder="mascota" formControlName="mascota" required>
	      <mat-error *ngIf="appoinmentForm.get('mascota').dirty">mascota</mat-error>
	    </mat-form-field>
	    <mat-form-field class="full-width">
	    	<mat-label>select dueno</mat-label>
			<mat-select  [(value)]="selectedDueno" (selectionChange)="selectDueno($event)">
			  <mat-option 
			  	*ngFor="let u of usersList | async" [value]="u.username"
			  	>{{u.username}}</mat-option>
			</mat-select>
			<mat-error *ngIf="appoinmentForm.get('dueno').dirty">Requerido</mat-error>
		</mat-form-field>
	    <button  mat-raised-button color="accent" *ngIf="!edit" 
	    type="submit" [disabled]="!appoinmentForm.valid">Agregar</button>
	    <button  mat-raised-button color="accent" *ngIf="edit" (click)="update()"
	    type="button" [disabled]="!appoinmentForm.valid">Guardar</button>
	    <button  mat-raised-button color="primary" *ngIf="edit" (click)="clear()"
	    type="button">Cancelar</button>
	  </form>
   </mat-card-content>
</mat-card>

<mat-toolbar>
  <span>Lista</span>
</mat-toolbar>
<mat-card>
	<table mat-table [dataSource]="appointmentsList" class="mat-elevation-z8">
	  <!-- Position Column -->
	  <!-- 	  
		<ng-container matColumnDef="id">
	    <th mat-header-cell *matHeaderCellDef> id. </th>
	    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
	  </ng-container> -->

	  <!-- Weight Column -->
	  <ng-container matColumnDef="fecha">
	    <th mat-header-cell *matHeaderCellDef> fecha </th>
	    <td mat-cell *matCellDef="let element"> {{element.fecha| dateFire}}     </td>
	  </ng-container>

	  <!-- Weight Column -->
	  <ng-container matColumnDef="hora">
	    <th mat-header-cell *matHeaderCellDef> hora </th>
	    <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
	  </ng-container>

	  <!-- Symbol Column -->
	  <ng-container matColumnDef="mascota">
	    <th mat-header-cell *matHeaderCellDef> mascota </th>
	    <td mat-cell *matCellDef="let element"> {{element.mascota}} </td>
	  </ng-container>

	  <!-- Symbol Column -->
	  <ng-container matColumnDef="dueno">
	    <th mat-header-cell *matHeaderCellDef> dueno </th>
	    <td mat-cell *matCellDef="let element"> {{element.dueno}} </td>
	  </ng-container>


	   <ng-container matColumnDef="accion">
	    <th mat-header-cell *matHeaderCellDef> Accion </th>
	    <td mat-cell *matCellDef="let element">
	    	<button mat-raised-button color="primary" (click)="editar(element)">
		        <span>editar</span>
		    </button>
		    <button mat-raised-button color="warn" (click)="eliminar(element)">
		        <span>eliminar</span>
		    </button>
	    </td>
	  </ng-container>

	  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</mat-card>
</div>

